@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.left {
    flex-basis: calc(30% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left .headline {
    width: 100%;
    max-width: 600px;
}

.left .headline h1 {
    font-size: 2.1rem;
    margin-bottom: 20px;
    background-color: #0597F2;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.left form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.left form input {
    margin: 10px 0;
    padding: 20px 15px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #efefef;
    outline-color: #d7d5d5;
    background-color: #efefef;
    font-family: 'Merriweather Sans', sans-serif;
}

form input[type="submit"] {
    background-color: #0597F2;
    color: #ffffff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #0b7cc3;
}


form a {
    padding: 5px;
    text-decoration: none;
    background-color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width:768px) {
    .left {
        flex-basis: 100%;
        text-align: center;
        padding-bottom: 30px;
    }

    .right {
        padding-top: 30px;
        flex-basis: 100%;
    }
}

@media (max-width:768px) {
    .left {
        flex-basis: 100%;
        text-align: center;
        padding-bottom: 30px;
    }
    .left {
        padding: 0 20px 30px 20px;
    }

    .left .headline p,
    form a {
        font-size: 0.9rem;
    }

    .headline {
        margin-top: 20px;
    }
}